body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Shame */
.inputText {
  width: 300px;
}

.selectComponent {
  width: 200px;
  margin-top: 1.5em;
  line-height: 1.7em;
}

.completedSwitch {
  margin-top: .2em;
  height: 2.5em;
}

.userFilter {
  padding-left: 20px;
}