body {
  margin: 1.2em 0 0 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Shame */

.searchFilter {
  display: flex;
  justify-content: space-evenly;
}

.inputText {
  width: 300px;
}

.selectComponent {
  width: 200px;
  margin-top: 1.5em;
  line-height: 1.7em;
}

.completedSwitch {
  margin-top: .2em;
  height: 2.5em;
}

.userFilter {
  padding-left: 20px;
}

.rowResult:hover {
  background: rgba(250, 128, 171, 0.301);
}

.cta:hover {
  color: rgb(196, 4, 4);
  cursor: pointer;
}

.addBtn {
  background-color: none;
  display: inline-block;
  display: flex;
  justify-content: flex-end;
  padding-right: 10em;
  margin: 1.2em 0;
}